.slideBook {
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  max-width: 1200px;
  margin: auto;
  .slideBook__container {
    padding: 12px 0 36px;
    margin: auto;
    .slideBook__left--arrow {
      position: absolute;
      top: 50%;
      right: 32px;
      font-size: 3rem;
      color: #000;
      border-radius: 50%;
      border: 1px solid #ccc;
      z-index: 10;
      cursor: pointer;
      user-select: none;
    }
    .slideBook__right--arrow {
      position: absolute;
      top: 50%;
      left: 32px;
      font-size: 3rem;
      color: #000;
      border-radius: 50%;
      border: 1px solid #ccc;
      z-index: 10;
      cursor: pointer;
      user-select: none;
    }
    .slider__title {
      margin: 0 0 24px 12px;
    }
    .slider__item {
      margin: auto;
    }
  }
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}
