body {
  .ant-pagination {
    &.ant-table-pagination
      &.ant-table-pagination-right
      &.css-dev-only-do-not-override-mxhywb {
      justify-content: center !important;
    }
  }
  .table__header {
    .table__container {
      .table__header--title {
        padding-left: 16px;
      }
      .table__header--right {
      }
      .table__header--wrap {
        align-items: center;
        .table__header--btn {
          // width: 20%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 24px;
          .table__header--btn--icon {
            font-size: 1.6rem;
          }
          .table__header--btn--name {
            margin-left: 8px;
          }
        }
        .table__header--btn--refresh {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          margin-left: 18px;
          cursor: pointer;
        }
      }
    }
  }
  .table__detail {
    cursor: pointer;
    color: rgb(102, 135, 207);
  }

  .ant-table-cell {
    .table__icon {
      align-items: center;
      display: flex !important;
      gap: 12px;
    }
    .table__delete--user,
    .table__edit--user {
      font-size: 2.2rem;
      cursor: pointer;
      text-align: center;
    }
    .table__delete--user {
      color: #f5222d;
    }
    .table__edit--user {
      color: #fa8c16;
    }
  }
}

// mobile
@media (max-width: 739px) {
  body {
    .table__header {
      .table__container {
        .table__header--title {
        }
        .table__header--right {
        }
        .table__header--wrap {
          .table__header--btn {
            margin-left: 0;
            .table__header--btn--icon {
              font-size: 1.4rem;
            }
            .table__header--btn--name {
              margin-left: 2px;
            }
          }
          .table__header--btn--refresh {
            font-size: 1.8rem;
            margin-left: 0;
          }
        }
      }
    }
  }
}
