.cart {
  background-color: #f5f5fa;
  min-height: 80vh;
  .cart__container {
    padding-top: 36px;
    min-height: 60vh;
  }
}
/* Mobile */
@media (max-width: 739px) {
  .cart {
    .cart__container {
      .cart__steps {
        display: none;
      }
    }
  }
}
