.admin {
  min-height: 80vh;
  width: 100%;
  background-color: #efefef;
  .admin__note {
    padding: 12px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  }
}
