.home {
  background-color: #f5f5fa;
  padding: 24px 0;
  position: relative;
  .home__left {
    height: auto;
    max-height: 100vh;
    background-color: #fff;
    border-radius: 8px;
    padding: 12px 8px;
    .home__left--header {
      margin-top: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left__header--filter {
        cursor: pointer;
        font-size: 1.8rem;
      }
      .left__header--title {
        font-size: 1.6rem;
      }
      .left__header--refresh {
        font-size: 1.8rem;
        cursor: pointer;
      }
    }
    .home__left--container {
      margin-top: 12px;
      .left__container--check {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 8px;
      }
      .left__container--price {
        position: relative;
        .left__container--price--form {
          display: flex;
          justify-content: space-between;
          .left__container--price--input {
            width: 40%;
            margin-top: 12px;
            display: flex;
            .ant-form-item-control-input-content {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
          }
          .left__container--price--line {
            flex: 1;
            width: 12px;
            background: #bdbdbd;
            margin: 0 1rem;
            height: 1px;
            position: absolute;
            top: 42%;
            left: 42%;
          }
        }
      }

      .left__container--rate {
        .left__container--start--wrap {
          margin-top: 12px;
          display: flex;
          align-items: center;
          .left__container--rate--text {
            font-size: 1.3rem;
            font-weight: 300;
            margin-left: 12px;
          }
          .left__container--rate--start {
            font-size: 1.4rem;
            display: flex;

            .ant-rate-star-second {
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }

  // right
  .home__right {
    height: auto;
    .home__right--header {
      display: flex;

      .home__right--header--tab {
        margin: 0 24px;
        width: 100%;
      }
    }
    .right__mobile {
      display: none;
    }
    .home__right--container {
      .right__container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
    }
    .home__right--footer {
      margin-top: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
body {
  .ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-inline-start: 0px;
  }
  .ant-tabs {
    width: 100%;
  }
}

/* Mobile */
@media (min-width: 749px) and (max-width: 1024px) {
  .home {
    .home__right {
      .home__right--header {
      }
      .right__mobile {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        margin-left: 12px;
        cursor: pointer;
        font-size: 2rem;
        gap: 4px;
        .right__filter-mobile {
          color: rgb(46, 48, 180);
        }
      }
    }
  }
}

/* Mobile */
@media (max-width: 739px) {
  .home {
    .left__drawer {
      .home__left--container {
        .left__container--check {
        }
      }
    }

    .home__right {
      .home__right--header {
        display: none;
      }
      .right__mobile {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        margin-left: 12px;
        cursor: pointer;
        font-size: 2rem;
        gap: 4px;
        .right__filter-mobile {
          color: rgb(46, 48, 180);
        }
      }
    }
  }
}

body {
  .ant-checkbox-group {
    display: flex;
    flex-direction: column !important;
    gap: 4px;
  }
  .ant-form label {
    font-size: 1.6rem !important;
  }
  .ant-input-number {
    width: 100%;
  }
  .ant-form-item-control-input {
    min-height: 0 !important;
  }
  .ant-rate {
    margin-right: 12px;
  }
}
