.admin__sidebar {
  flex-shrink: 0;
  .admin__sidebar--wrap {
    // width: 250px;
    display: flex;
    background-color: #fefefe;
    padding: 0 8px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    left: 0;
    top: 66px;
    .admin__sidebar--btn {
      margin-top: 12px;
      margin-left: 12px;
      font-size: 2.5rem;
      cursor: pointer;
    }
  }
}

body {
  .ant-menu {
    padding-top: 12px;
    font-size: 1.6rem;
    border-inline-end: none !important;
    .ant-menu-item {
      margin-top: 12px;
    }
  }
}

@media (max-width: 739px) {
  body {
    .ant-menu {
      padding: 0;
      font-size: 1.4rem;
      .ant-menu-item {
      }
    }
    .admin__sidebar--list {
      border-top: 1px solid rgba(0, 0, 0, 0.06);
      margin-top: 16px;
      .admin__sidebar--item {
        display: flex;
        align-items: center;
        border-radius: 4px;
        list-style: none;
        padding: 12px 20px 12px 44px;
        font-size: 1.6rem;
        &:hover {
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.06);
        }
        .admin__sidebar--item--icon {
          margin-right: 6px;
        }
      }
    }
  }

  .admin__sidebar {
    .admin__sidebar--wrap {
      .admin__sidebar--menu {
        display: none;
      }
      .admin__sidebar--btn {
        margin-left: 4px;
        font-size: 1.4rem;
      }
    }
    .admin__sidebar--bar {
      display: flex;
      justify-content: center;
      .admin__sidebar--icon {
        font-size: 2.5rem;
        cursor: pointer;
      }
    }
  }
}
